.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  
}
h1{
    font-size: 50px;
    text-align: center;
    color: #DC3545;
}
input{
    width:70% ;
    margin-left: 15%;
    height: 40%;
    font-size: 30px;
}
button{
    width: 70%;
    margin-left: 15.2%;
    margin-top: 2%;
    font-size: 30px;
    background-color: greenyellow;
}

.result{
    margin-left: 50px;
    margin-top: 150px;
    font-size: 30px;
    color: #DC3545;
    border-radius: 1px;
    border: 5px;
}